* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(135deg, #b5377c, #190950);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-size: 12px;

}
h1{
    text-align: center;
    margin-top: 10%;
    color: whitesmoke;
    font-size: 30px;
}

form {
    background-color: whitesmoke;
    padding: 10px;
    width: 350px;

    box-shadow: 3px 3px 15px black;
    border-radius: 3px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

fieldset {
    border: none;

}

legend {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
}

input {
    width: 100px;
    min-height: 30px;
    margin: 10px 30px 10px auto;
    


}
label{
    width: 150px;
}

textarea {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
}

button {
    width: 120px;
    min-height: 30px;
    margin-top: 10px;

    background-color: #2583ff;
    color: whitesmoke;

    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #3e91fd;
}